<template>
  <div class="container"> 
    <div class="panel panel-primary">
      <div class="panel-heading"><h1>Empleos Ofertados</h1></div>
        <div class="panel-body">
          <job></job>
        </div>       
    </div>
  </div>
</template>
<script>
  import Job from './jobs/job.vue'
  export default {
    components:{
      'job':Job,
    }
    
  }
</script>
<style>

</style>

