<template>
   <footer class="navbar navbar-default navbar-fixed-bottom" >
    <div class="container" id="footer">
      <p class="navbar-text pull-left" id="medio"> &copy  {{año}} - Departamento de Tecnologia.
           <a href="http://www.seguroshorizonte.com/" target="_blank" style="color: #ecf0f1"><img src="../images/hlogo2.png" class="hlogo" ></a>

      </p>
    
   </div>
  </footer> 
</template>
<script>
var fecha = new Date();
var año = fecha.getFullYear();
export default{
  data() {
    return {
      año:año
    }
  }
}
</script>
<style>


#medio{
      color: #191616;
}


#footer {
	display: flex;
    justify-content: center;
    align-content: center;
   
}
.navbar-fixed-bottom {
background: -webkit-linear-gradient(left, #fefeff, #0d589a);
background: -moz-linear-gradient(left, #fefeff, #0d589a);
background: -o-linear-gradient(left, #fefeff, #0d589a);
background: linear-gradient(to right, #fefeff, #0d589a);
box-shadow: 0 6px 20px 0 (0, 0, 0, 0.19) 
}
</style>
