<template>
    <nav class="navbar navbar-default ">
        <div class="container-fluid" id="navbar">

            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#navbar-main" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand ">
                    
        <img alt="Brand" src="../images/logo2.png"  id="logo" >
      </a>    
  
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav nav-pills">
                    <router-link tag="li" to="/conectar" v-if="! isAuth">
                    <a>conectate</a>
                    </router-link>
                    <router-link tag="li" to="/registro" v-if="! isAuth">
                    <a>Registrate</a>
                    </router-link>
                    <router-link tag="li" to="/conectar" v-if="isAuth">
                    <a>Cuenta</a>
                    </router-link>
                    <router-link tag="li" to="/registro" v-if="isAuth">
                    <a>Salir</a>
                    </router-link>                    
                </ul>
            </div>
        </div>
    </nav>

    
</template>
<script>
    export default {
        data() {
            return {
                isAuth: null
            }
        },
        created () {
            this.isAuth = this.$auth.isAuthenticated()
        }
    }
    
</script>
<style>

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 1px;
  width: auto;
}
   #navbar {
        margin-top: 15px;
        margin-bottom: 15px;
    }
#navbar-main{
        float:right;
    }

    .navbar-default {
        background: -webkit-linear-gradient(left, #fefeff, #0d589a);
       }

    .navbar-default {
        background: -webkit-linear-gradient(left, #fefeff, #0d589a);
        background: -moz-linear-gradient(left, #fefeff, #0d589a);
        background: -o-linear-gradient(left, #fefeff, #0d589a);
        background: linear-gradient(to right, #fefeff, #0d589a);
        box-shadow: 0 6px 20px 0 (0, 0, 0, 0.19);
       background: -moz-linear-gradient(left, #fefeff, #0d589a);
        background: -o-linear-gradient(left, #fefeff, #0d589a);
        background: linear-gradient(to right, #fefeff, #0d589a);
        box-shadow: 0 6px 20px 0 (0, 0, 0, 0.19);
    }

</style>
