<template>
<div class="container" style="margin-top:30px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Ingresa </strong></h3>
            </div>
            <div class="panel-body">
                <div role="form">
                    <div class="form-group">
                        <label for="InputEmail">Email</label>
                        <input v-model="email" type="email" class="form-control" style="border-radius:0px" id="InputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Contraseña <a href="/sessions/forgot_password">(Olvidaste tu Contraseña)</a></label>
                        <input v-model="password" type="password" class="form-control" style="border-radius:0px" id="InputPassword" placeholder="Contraseña">
                    </div>
                    <button v-on:click="test" class="btn btn-sm btn-default">Ingresa</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return{
                email:'',
                password:'',
            }
        },
        methods:{
            test (){
                var data ={
                    client_id:2,
                    client_secret:'uS2f9F9TnJ1Hi73VJXQf9FlL4OajrVgoU8956oe9',
                    grant_type:'password',
                    username:this.email,
                    password:this.password,
                }
                this.$http.post('oauth/token', data)
                   .then(response => {
                       this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now())
                       this.$router.push("/feed")

                   })
                   
                   /*.then(response =>{
                       console.log(response)
                   })*/
        
                
            }
        }
}
    
</script>

<style>

</style>
