<template>
<div class="container" style="margin-top:30px">
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Registrate </strong></h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Nombre</label>
                            <div class="col-md-8">
                                <input v-model="nombre" id="name" name="name" type="text" placeholder="Introduce tu Nombre" class="form-control input-md" required="">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastname">Apellido</label>
                            <div class="col-md-8">
                                <input v-model="apellido" id="lastname" name="lastname" type="text" placeholder="Introduce tu apellido" class="form-control input-md" required="">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>
                            <div class="col-md-8">
                                <input v-model="email" id="email" name="email" type="text" placeholder="Introduce tu Email" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">Password</label>
                            <div class="col-md-6">
                                <input v-model="password" id="password" name="password" type="password" placeholder="Introduce contraseña" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">Password</label>
                            <div class="col-md-6">
                                <input v-model="rpassword" id="password" name="password" type="password" placeholder="Confirmar contraseña" class="form-control input-md" required="">

                            </div>
                        </div>
                        <!-- Text input
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="telefono">Telefono</label>
                            <div class="col-md-8">
                                <input id="telefono" name="telefono" type="text" placeholder="Introduce tu numero de Telefono." class="form-control input-md" required="">

                            </div>
                        </div>-->
                        <!-- Text input
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="telefonoseg">Telefono Segundario</label>
                            <div class="col-md-8">
                                <input id="telefonoseg" name="telefonoseg" type="text" placeholder="Numero de Telefono segundario." class="form-control input-md" required="">

                            </div>
                        </div-->

                        <!-- Text input
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="ciudad">Ciudad</label>
                            <div class="col-md-8">
                                <input id="ciudad" name="ciudad" type="text" placeholder="Introduce Ciudad de Residencia" class="form-control input-md" required="">

                            </div>
                        </div>-->

                        <!-- Opcion genero-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Genero</label>
                            <div class="col-md-8">
                                
                                <label class="radio-inline"><input v-model="genero" type="radio" name="genero" value="masculino"><i class="fa fa-mars"></i> Masculino</label>
                                <label class="radio-inline"><input v-model="genero" type="radio" name="genero" value="femenino"><i class="fa fa-venus"></i> Femenino</label>
                                
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="signup"></label>
                            <div class="col-md-4">
                                <button id="signup" name="signup" class="btn btn-success">Registrar</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return {
                nombre:'',
                apellido:'',
                email:'',
                password:'',
                rpassword:'',
                genero:'',


            }
        }
    }
</script>

<style>



</style>