<template>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Publicar Empleo</h3>
        </div>
        <div class="panel-body">
<!-------------------------------------------------------------->

                    <div  class="form-horizontal" >
            
                        <!--Titulo-->
                        <div id="div_titulo" class="form-group required">
                            <label for="titulo" class="control-label col-md-2  requiredField"> Titulo<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-9 ">
                                <input v-model="job.titulo" class="input-md  textinput textInput form-control" id="titulo" maxlength="30" name="titulo" placeholder="Titulo del empleo"  type="text" />
                            </div>
                        </div>
                        <!--Descripcion-->
                        <div id="div_descripcion" class="form-group required">
                            <label for="descripcion" class="control-label col-md-2  requiredField"> Descripcion<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-9 ">
                                <textarea v-model="job.descripcion" class="input-md textinput form-control" id="descripcion" name="descripcion" placeholder="Descripcion del empleo"  type="text" /></textarea>
                            </div>     
                        </div>
                        <!--Lugar-->
                        <div id="div_lugar" class="form-group required">
                            <label for="lugar" class="control-label col-md-2  requiredField">Ciudad<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-9 "> 
                                <input v-model="job.lugar" class="input-md textinput textInput form-control" id="lugar" name="lugar" placeholder="Ciudad donde se oferta el empleo"  type="text" />
                            </div>
                        </div>
                        <!--grado de instruccion-->
                        <div id="div_instruccion" class="form-group required">
                             <label for="g_instruccion" class="control-label col-md-2  requiredField">Grado de Instruccion<span class="asteriskField">*</span> </label>
                             <div class="controls col-md-9 ">
                                <input v-model="job.grado_de_instruccion" class="input-md textinput textInput form-control" id="g_instruccion" name="g_instruccion" placeholder="Grado de instruccion que requiere el empleo"  type="text" />
                            </div>
                        </div>
                        <!--Publicado-->
                        <div id="div_publicado" class="form-group required"> 
                            <label for="publicado" class="control-label col-md-2  requiredField">Publicado<span class="asteriskField">*</span> </label> 
                            <div class="controls col-md-2 "> 
                                <input v-model="job.publicado" class="input-md textinput textInput form-control" id="publicado" name="publicado" placeholder="fecha de Publicacion"  type="date" />
                            </div>
                        </div>
                                                <!-- Button -->
                        <div class="form-group">
                            <label class="control-label" for="publicar"></label>
                            
                                <button id="publicar" name="publicar" class="btn btn-success pull-right" v-on:click="crear" v-show="job.titulo && job.descripcion && job.lugar && job.publicado && job.grado_de_instruccion">Publicar</button>
                            
                        </div>
                            
                    </div>
<!---------------------------------------------------------------->
 
        </div>        
    </div>
</div>        
</template>
<script>
    export default {
        data(){
            return{
                job: {
                    titulo:'',
                    descripcion:'',
                    lugar:'',
                    grado_de_instruccion:'',
                    publicado:'',
                }
            }
        },
        methods: {
            crear(){
                this.$http.post('api/jobs', this.job)
                .then(response => {
                    this.$router.push('/feed')
                })
            }
        }

        
    }
    
</script>
<style>
input {
    margin-bottom: 10px;
}
textarea {
    margin-bottom: 10px;
}

#publicar {
    margin-right:100px; 
}
</style>
