<template>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info" v-for="job in jobs" v-bind:key="job.id">
              <div class="panel-heading" role="tab" v-bind:id="'head'+job.id">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" v-bind:href="'#collapse'+job.id"
                    aria-expanded="true" v-bind:aria-controls="'coallapse'">
                    {{job.titulo}} <br>
                  </a>
                  <span style="float:right">publicado: {{job.publicado}}</span>
                    
                </h4>  
              </div>
              <div v-bind:id="'collapse'+job.id" class="panel-collapse collapse" role="tabpanel" v-bind:aria-labelledby="'head'+job.id">
                <div class="panel-body">
                <dl>
                    <dt>Descripcion:</dt>
                    <dd>{{job.descripcion}}</dd>
                    <dt>Lugar:</dt>
                    <dd>{{job.lugar}}</dd>
                    <dt>Nivel de Instruccion:</dt>
                    <dd>{{job.grado_de_instruccion}}</dd>           
                </dl>                    
                <p>
                    <a href="#" class="btn btn-success pull-right" id="postular">
                    Postular
                    </a>    
                </p>
                </div>  
              </div>    
            </div>  
          </div>
             
</template>
<script>
  export default {
    data() {
      return {
        jobs: [],
        
      }
    },
    created () {
      this.$http.get('api/jobs')
        .then(response => {
          this.jobs = response.body
        })
    }
  }
  $('.collapse').collapse()
</script>
<style>
.panel-title {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    color: inherit;
}

</style>
