<template>
  <div id="app">
    <navbar></navbar>
    <router-view></router-view>
    <foot></foot>
  </div>
</template>

<script>
import Navbar from './components/navbar.vue'
import Foot from './components/foot.vue'


export default {
  name: 'app',
  components: {
    'navbar':Navbar,
    'foot':Foot,
  }
}
</script>
<style></style>
